<div class="container">
  <div class="row" style="margin-top: 80px;">
    <div class="col-md-12">
      <table class="table">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserModal">Add Coders</button>
        <div class="modal" tabindex="-1" id="addUserModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add Coders</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <!-- Add User modal -->
              <div class="modal-body">
                <!-- Set action of form -->
                <form method="POST" action="index.php">
                  <input type="hidden" name="action" value="addUser">
                  <div class="mb-3">
                    <label for="addUserName" class="form-label">User name of Leet-coder</label>
                    <input type="text" name="username" required class="form-control" id="addUserName" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Input a valid username</div>
                  </div>
                  <!-- Form submit button -->
                  <input type="submit" name="send" class="btn btn-primary">
                  
                </form>
              </div>
              <!-- Modal Close button -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-default float-end">print</button>
        <hr><br>
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Total Solved</th>
            <th scope="col">Easy</th>
            <th scope="col">Medium</th>
            <th scope="col">Hard</th>
            <th scope="col">Ranking</th>
            <th scope="col">Country</th>
            <th scope="col">Full Profile</th>
            <th scope="col">Compare</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <?php 

          foreach($userObj as $user_data) { 
            
            ?>
            <tr>
              <th scope="row" style="vertical-align: middle;">
                <img  src = <?php echo $user_data->avatar; ?> width="50" height="50" style="border-radius: 50%;">
              </th>
              <td scope="row" style="vertical-align: middle;"><strong><?php echo $user_data->username; ?></strong></td>
              <td scope="row" style="vertical-align: middle;"><strong><?php echo $user_data->name; ?></strong></td>
              <td scope="row" style="vertical-align: middle; color: blue"><strong><?php echo $user_data->solvedProblem; ?></strong></td>
              <td scope="row" style="vertical-align: middle; color: green"><strong><?php echo $user_data->easySolved; ?></strong></td>
              <td scope="row" style="vertical-align: middle; color: rgb(255, 118, 27)"><strong><?php echo $user_data->mediumSolved; ?></strong></td>
              <td scope="row" style="vertical-align: middle; color: red;"><strong><?php echo $user_data->hardSolved; ?></strong></td>
              <td scope="row" style="vertical-align: middle;"><strong><?php echo $user_data->ranking; ?></strong></td>
              <td scope="row" style="vertical-align: middle;"><?php echo $user_data->country; ?></td>
              <td style="vertical-align: middle;"> 
                  <a href="index.php?page=profile&username=<?php echo $user_data->username; ?>" class="btn btn-info">View</a>
              </td>
              <!-- Add a unique id to every modal for edit task -->
              <div class="modal" tabindex="-1" id="editTaskModal<?php echo $row['id']; ?>">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Edit Task</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="edit.php">
                        <div class="mb-3">
                          <label for="editTaskText" class="form-label">Your task</label>
                          <input type="text" name="edit-task" required class="form-control" id="editTaskText" aria-describedby="emailHelp" value="<?php echo $row['name'] ?>">
                          <input type="hidden" name="edit-id" value="<?php echo $row['id'] ?>">
                          <div id="emailHelp" class="form-text">Text should not be too long.</div>
                        </div>
                        <input type="submit" name="edit" class="btn btn-primary">
                      </form>
                    </div>
                    <div class="modal-footer" >
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <td style="vertical-align: middle;"><a href="index.php?page=compare&username=<?php echo $user_data->username ?>" class="btn btn-warning">Compare</a></td>
              <td style="vertical-align: middle;"><a href="index.php?action=deleteUser&username=<?php echo $user_data->username ?>" class="btn btn-danger">delete</a></td>
            </tr>
          <?php } ?>
        </tbody>
      </table>
    </div>
  </div>
</div>